In [4]:
import pandas as pd

# Assuming your data is in CSV files, replace 'customers.csv', 'products.csv', and 'transactions.csv' with your actual file names
customers_df = pd.read_csv('Customers.csv')
products_df = pd.read_csv('Products.csv')
transactions_df = pd.read_csv('Transactions.csv')

# Basic Information and Summary of Datasets
customers_summary = customers_df.info(), customers_df.describe(include='all')
products_summary = products_df.info(), products_df.describe(include='all')
transactions_summary = transactions_df.info(), transactions_df.describe(include='all')

# Checking for missing values in datasets
customers_missing = customers_df.isnull().sum()
products_missing = products_df.isnull().sum()
transactions_missing = transactions_df.isnull().sum()

# Unique counts for key identifiers
unique_counts = {
    "Unique Customers": customers_df["CustomerID"].nunique(),
    "Unique Products": products_df["ProductID"].nunique(),
    "Unique Transactions": transactions_df["TransactionID"].nunique(),
}

# Merge datasets for further analysis
merged_data = pd.merge(transactions_df, customers_df, on="CustomerID", how="left")
merged_data = pd.merge(merged_data, products_df, on="ProductID", how="left")

# Summary statistics of merged data
merged_summary = merged_data.describe(include='all')

customers_summary, products_summary, transactions_summary, customers_missing, products_missing, transactions_missing, unique_counts, merged_summary.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    object
 1   CustomerName  200 non-null    object
 2   Region        200 non-null    object
 3   SignupDate    200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    object
 1   ProductName  100 non-null    object
 2   Category     100 non-null    object
 3   Price        100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB

((None,
         CustomerID      CustomerName         Region  SignupDate
  count         200               200            200         200
  unique        200               200              4         179
  top         C0001  Lawrence Carroll  South America  2024-11-11
  freq            1                 1             59           3),
 (None,
         ProductID            ProductName Category       Price
  count        100                    100      100  100.000000
  unique       100                     66        4         NaN
  top         P001  ActiveWear Smartwatch    Books         NaN
  freq           1                      4       26         NaN
  mean         NaN                    NaN      NaN  267.551700
  std          NaN                    NaN      NaN  143.219383
  min          NaN                    NaN      NaN   16.080000
  25%          NaN                    NaN      NaN  147.767500
  50%          NaN                    NaN      NaN  292.875000
  75%          NaN                    NaN      NaN  397.090000
  max          NaN                    NaN      NaN  497.760000),
 (None,
         TransactionID CustomerID ProductID      TransactionDate     Quantity  \
  count           1000       1000      1000                 1000  1000.000000
  unique          1000        199       100                 1000          NaN
  top           T00001      C0109      P059  2024-08-25 12:38:23          NaN
  freq               1         11        19                    1          NaN
  mean             NaN        NaN       NaN                  NaN     2.537000
  std              NaN        NaN       NaN                  NaN     1.117981
  min              NaN        NaN       NaN                  NaN     1.000000
  25%              NaN        NaN       NaN                  NaN     2.000000
  50%              NaN        NaN       NaN                  NaN     3.000000
  75%              NaN        NaN       NaN                  NaN     4.000000
  max              NaN        NaN       NaN                  NaN     4.000000

           TotalValue       Price
  count   1000.000000  1000.00000
  unique          NaN         NaN
  top             NaN         NaN
  freq            NaN         NaN
  mean     689.995560   272.55407
  std      493.144478   140.73639
  min       16.080000    16.08000
  25%      295.295000   147.95000
  50%      588.880000   299.93000
  75%     1011.660000   404.40000
  max     1991.040000   497.76000  ),
 CustomerID      0
 CustomerName    0
 Region          0
 SignupDate      0
 dtype: int64,
 ProductID      0
 ProductName    0
 Category       0
 Price          0
 dtype: int64,
 TransactionID      0
 CustomerID         0
 ProductID          0
 TransactionDate    0
 Quantity           0
 TotalValue         0
 Price              0
 dtype: int64,
 {'Unique Customers': 200,
  'Unique Products': 100,
  'Unique Transactions': 1000},
        TransactionID CustomerID ProductID      TransactionDate  Quantity  \
 count           1000       1000      1000                 1000  1000.000
 unique          1000        199       100                 1000       NaN
 top           T00001      C0109      P059  2024-08-25 12:38:23       NaN
 freq               1         11        19                    1       NaN
 mean             NaN        NaN       NaN                  NaN     2.537

         TotalValue     Price_x   CustomerName         Region  SignupDate  \
 count   1000.00000  1000.00000           1000           1000        1000
 unique         NaN         NaN            199              4         178
 top            NaN         NaN  Abigail Jones  South America  2022-04-16
 freq           NaN         NaN             11            304          19
 mean     689.99556   272.55407            NaN            NaN         NaN

                   ProductName Category     Price_y
 count                    1000     1000  1000.00000
 unique                     66        4         NaN
 top     ActiveWear Smartwatch    Books         NaN
 freq                       40      270         NaN
 mean                      NaN      NaN   272.55407  )